In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_contributions = pd.read_csv("zip_contributions_2.csv")

In [3]:
train_contributions.head()

     zip committee_id  cycle state    total  count state_full
0  99501    C00665711   2018    AK  69074.0    236     Alaska
1  99517    C00665711   2018    AK  64042.0    189     Alaska
2  99801    C00665711   2018    AK  63463.0    224     Alaska
3  99516    C00665711   2018    AK  61663.0    266     Alaska
4  99507    C00665711   2018    AK  45076.0    140     Alaska

In [4]:
col_names = pd.read_csv("delux_data/cand_link/ccl_header_file.csv").columns

cand_link_dfs = []
for i in range(18,22+1,2):
    cand_link_df = pd.read_csv(f"delux_data/cand_link/ccl{i}.txt", delimiter="|", names=col_names)
    cand_link_df["CYCLE"] = 2000 + i
    cand_link_dfs.append(cand_link_df)

cand_link_df = pd.concat(cand_link_dfs)

cand_link_df.head()

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID,CYCLE
0,H0AL02087,2018,2018,C00493783,H,J,212430,2018
1,H0AL02087,2018,2018,C00462143,H,P,212429,2018
2,H0AL03192,2020,2018,C00681452,H,P,221575,2018
3,H0AL05049,2008,2018,C00239038,H,P,212431,2018
4,H0AL05163,2018,2018,C00464149,H,P,212432,2018

In [5]:
col_names = pd.read_html("Current campaigns for House and Senate file description _ FEC.html")[0].iloc[1:,0]

cand_summ_dfs = []
for i in range(18,22+1,2):
    cand_summ_df = pd.read_csv(f"delux_data/cand_summ/webl{i}.txt", delimiter="|", names=col_names)
    cand_summ_df["CYCLE"] = 2000 + i
    cand_summ_dfs.append(cand_summ_df)

cand_summ_df = pd.concat(cand_summ_dfs)

cand_summ_df.head()

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS,CYCLE
0,H8AK00132,"SHEIN, DIMITRI",C,1,DEM,209916.04,0.0,209574.16,0.0,0.00,...,NaN,NaN,NaN,NaN,0.00,0.0,12/31/2018,0.00,0.0,2018
1,H6AK00045,"YOUNG, DONALD E",I,2,REP,1234680.31,0.0,1387687.05,0.0,269726.86,...,NaN,NaN,NaN,NaN,559861.90,0.0,12/31/2018,2700.00,500.0,2018
2,H8AK01031,"NELSON, THOMAS JOHN",C,2,REP,9288.48,0.0,8821.97,0.0,0.00,...,NaN,NaN,NaN,NaN,0.00,0.0,12/31/2018,600.00,0.0,2018
3,H8AK00140,"GALVIN, ALYSE",C,3,IND,1949643.68,154.7,1943398.59,0.0,0.00,...,NaN,NaN,NaN,NaN,114833.97,0.0,12/31/2018,8166.36,0.0,2018
4,H8AL01066,"KENNEDY, ROBERT JR.",C,1,DEM,166845.21,0.0,166845.21,0.0,0.00,...,NaN,NaN,NaN,NaN,7750.00,0.0,12/31/2018,0.00,0.0,2018

In [6]:
party_table = pd.merge(cand_link_df, cand_summ_df, on=["CAND_ID", "CYCLE"], how="inner")[["CYCLE", "CMTE_ID", "CAND_PTY_AFFILIATION", "CAND_NAME", "CAND_OFFICE_DISTRICT"]]

In [7]:
train_contributions = pd.merge(train_contributions, party_table, left_on = ["committee_id", "cycle"], right_on=["CMTE_ID", "CYCLE"], how="inner")
train_contributions

,zip,committee_id,cycle,state,total,count,state_full,CYCLE,CMTE_ID,CAND_PTY_AFFILIATION,CAND_NAME,CAND_OFFICE_DISTRICT
0,99501,C00665711,2018,AK,69074.0,236,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0
1,99517,C00665711,2018,AK,64042.0,189,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0
2,99801,C00665711,2018,AK,63463.0,224,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0
3,99516,C00665711,2018,AK,61663.0,266,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0
4,99507,C00665711,2018,AK,45076.0,140,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12158,54635,C00312017,2020,WI,810.0,23,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0
12159,54021,C00312017,2020,WI,810.0,21,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0
12160,54623,C00312017,2020,WI,807.0,16,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0
12161,54755,C00312017,2020,WI,795.0,19,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0
12162,54610,C00312017,2020,WI,760.0,9,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0

In [8]:
train_contributions[train_contributions["CAND_PTY_AFFILIATION"] == "IND"]["CAND_NAME"].value_counts()

GALVIN, ALYSE    134
Name: CAND_NAME, dtype: int64

In [9]:
train_contributions[train_contributions["CAND_PTY_AFFILIATION"] == "DFL"]["CAND_NAME"].value_counts()

FEEHAN, DANIEL        78
PHILLIPS, DEAN        51
RADINOVICH, JOSEPH    43
Name: CAND_NAME, dtype: int64

In [10]:
train_contributions[train_contributions["CAND_PTY_AFFILIATION"] == "UNK"]["CAND_NAME"].value_counts()

HERRELL, STELLA YVETTE    53
Name: CAND_NAME, dtype: int64

In [11]:
train_contributions["RepParty"] = (train_contributions["CAND_PTY_AFFILIATION"] == "REP") | (train_contributions["CAND_PTY_AFFILIATION"] == "UNK")

In [12]:
train_contributions["RepParty"].sum()

6189

In [13]:
train_contributions

,zip,committee_id,cycle,state,total,count,state_full,CYCLE,CMTE_ID,CAND_PTY_AFFILIATION,CAND_NAME,CAND_OFFICE_DISTRICT,RepParty
0,99501,C00665711,2018,AK,69074.0,236,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0,False
1,99517,C00665711,2018,AK,64042.0,189,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0,False
2,99801,C00665711,2018,AK,63463.0,224,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0,False
3,99516,C00665711,2018,AK,61663.0,266,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0,False
4,99507,C00665711,2018,AK,45076.0,140,Alaska,2018,C00665711,IND,"GALVIN, ALYSE",0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12158,54635,C00312017,2020,WI,810.0,23,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0,False
12159,54021,C00312017,2020,WI,810.0,21,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0,False
12160,54623,C00312017,2020,WI,807.0,16,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0,False
12161,54755,C00312017,2020,WI,795.0,19,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0,False
12162,54610,C00312017,2020,WI,760.0,9,Wisconsin,2020,C00312017,DEM,"KIND, RONALD JAMES",3.0,False

In [14]:
results_df = pd.read_csv("lite_data/incumb_dist_1948-2022 (2).csv")
results_df.head()
# results_df[(results_df["year"] == 2018) & (results_df["state"] == "Alaska")]

,Unnamed: 0,office,year,state,st_fips,district_num,district_id,winner_party,RepVotes,RepCandidate,RepStatus,DemVotes,DemCandidate,DemStatus,RepVotesMajorPercent,DemVotesMajorPercent,winner_candidate,winner_candidate_inc,st_cd_fips
0,1,House,2020,Alabama,1,1,AL01,R,211825,"Carl, Jerry",Challenger,116949,"Averhart, James",Challenger,64.43,35.57,RepCandidate,Challenger,101
1,2,House,2020,Alabama,1,2,AL02,R,197996,"Moore, Barry",Challenger,105286,"Harvey-Hall, Phyllis",Challenger,65.28,34.72,RepCandidate,Challenger,102
2,3,House,2020,Alabama,1,3,AL03,R,217384,"Rogers, Mike D.",Incumbent,104595,"Winfrey, Adia McClellan",Challenger,67.51,32.49,RepCandidate,Incumbent,103
3,4,House,2020,Alabama,1,4,AL04,R,261553,"Aderholt, Robert",Incumbent,56237,"Neighbors, Rick",Challenger,82.30,17.70,RepCandidate,Incumbent,104
4,5,House,2020,Alabama,1,5,AL05,R,253094,"Brooks, Mo",Incumbent,0,NaN,NaN,100.00,0.00,RepCandidate,Incumbent,105

In [15]:
competitive_races_df = pd.read_csv("expert_rating.csv")

In [16]:
super_competitive_df = competitive_races_df[((competitive_races_df["avg_rating"] > 1.5) & (competitive_races_df["avg_rating"] < 5.5))]
super_competitive_df

,year,state,district,cook,rothenberg,cq_politics,sabatos_crystal_ball,real_clear,roll_call,ny_times,the_hill,daily_kos,fivethirtyeight,ddhq,elections_daily,politico,fox,the_economist,avg_rating
0,2010,Alabama,2,4,4.75,4.0,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.950000
2,2010,Arizona,1,5,5.50,5.0,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.100000
4,2010,Arizona,5,4,4.75,4.0,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.550000
5,2010,Arizona,7,4,2.50,3.0,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.300000
6,2010,Arizona,8,4,4.00,4.0,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2022,Virginia,2,4,4.00,NaN,4,5,NaN,NaN,NaN,NaN,4.0,3.0,NaN,4.0,4.0,4.0,4.000000
757,2022,Virginia,7,3,3.25,NaN,3,4,NaN,NaN,NaN,NaN,2.0,2.0,NaN,3.0,3.0,2.0,2.805556
758,2022,Virginia,10,1,1.00,NaN,2,2,NaN,NaN,NaN,NaN,1.0,2.0,NaN,2.0,2.0,2.0,1.666667
763,2022,Washington,8,4,4.00,NaN,3,4,NaN,NaN,NaN,NaN,2.0,2.0,NaN,4.0,3.0,3.0,3.222222
765,2022,Wisconsin,3,5,5.50,NaN,5,5,NaN,NaN,NaN,NaN,5.0,7.0,NaN,5.0,5.0,6.0,5.388889

In [17]:
super_competitive_df.loc[super_competitive_df["district"] == "AL", "district"] = 0

super_competitive_df["district"] = super_competitive_df["district"].astype(int)

<ipython-input-17-3ef61f882ab8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super_competitive_df["district"] = super_competitive_df["district"].astype(int)

In [18]:
cont_grouped = train_contributions.groupby(["cycle", "state_full", "CAND_OFFICE_DISTRICT", "RepParty"]).agg({"total": "sum", "count": "sum"}).reset_index()

# Create Columns for Republican Party total and count, and Democratic Party total and count

cont_grouped["RepTotal"] = cont_grouped["total"] * cont_grouped["RepParty"]
cont_grouped["RepCount"] = cont_grouped["count"] * cont_grouped["RepParty"]
cont_grouped["DemTotal"] = cont_grouped["total"] * (1 - cont_grouped["RepParty"])
cont_grouped["DemCount"] = cont_grouped["count"] * (1 - cont_grouped["RepParty"])

In [19]:
train_conts = cont_grouped.groupby(["cycle", "state_full", "CAND_OFFICE_DISTRICT"])[["RepTotal", "RepCount", "DemTotal", "DemCount"]].sum().reset_index()
train_conts.head()

,cycle,state_full,CAND_OFFICE_DISTRICT,RepTotal,RepCount,DemTotal,DemCount
0,2018,Alabama,0.0,5400.0,2,0.0,0
1,2018,Alaska,0.0,226716.0,351,667766.0,2449
2,2018,Arizona,0.0,58200.0,30,0.0,0
3,2018,Arizona,1.0,109795.0,213,260041.0,1592
4,2018,Arizona,2.0,566307.0,940,325107.0,1885

In [20]:
super_competitive_df = pd.merge(super_competitive_df, train_conts, left_on=["year", "state", "district"], right_on=["cycle", "state_full", "CAND_OFFICE_DISTRICT"], how="left")

In [21]:
train_supercomp = super_competitive_df[(super_competitive_df["year"] == 2020) | (super_competitive_df["year"] == 2018)][["year", "state", "district", "RepTotal", "RepCount", "DemTotal", "DemCount"]]
train_supercomp.fillna(0, inplace=True)
train_supercomp.head()

     year       state  district  RepTotal  RepCount  DemTotal  DemCount
256  2018      Alaska         0  226716.0     351.0  667766.0    2449.0
257  2018     Arizona         1  109795.0     213.0  260041.0    1592.0
258  2018     Arizona         2  566307.0     940.0  325107.0    1885.0
259  2018  California         7  294096.0     399.0  387083.0    2265.0
260  2018  California        10  734305.0    1085.0  200285.0     917.0

In [22]:
train_supercomp["RepTotalShare"] = train_supercomp["RepTotal"] / (train_supercomp["RepTotal"] + train_supercomp["DemTotal"])
train_supercomp["RepCountShare"] = train_supercomp["RepCount"] / (train_supercomp["RepCount"] + train_supercomp["DemCount"])

train_supercomp.head()

,year,state,district,RepTotal,RepCount,DemTotal,DemCount,RepTotalShare,RepCountShare
256,2018,Alaska,0,226716.0,351.0,667766.0,2449.0,0.253461,0.125357
257,2018,Arizona,1,109795.0,213.0,260041.0,1592.0,0.296875,0.118006
258,2018,Arizona,2,566307.0,940.0,325107.0,1885.0,0.635291,0.332743
259,2018,California,7,294096.0,399.0,387083.0,2265.0,0.431746,0.149775
260,2018,California,10,734305.0,1085.0,200285.0,917.0,0.785697,0.541958

In [23]:
preds_2018_538 = pd.read_csv("delux_data/538_preds/house_district_forecast.csv")
preds_2018_538.head()

,forecastdate,state,district,special,candidate,party,incumbent,model,win_probability,voteshare,p10_voteshare,p90_voteshare
0,2018-08-01,AK,1,NaN,Don Young,R,True,classic,0.7185,49.35,43.04,55.59
1,2018-08-01,AK,1,NaN,Alyse S. Galvin,D,False,classic,0.2815,44.11,37.77,50.39
2,2018-08-01,AK,1,NaN,Others,NaN,False,classic,0.0000,6.54,2.60,11.17
3,2018-08-01,AL,1,NaN,Bradley Byrne,R,True,classic,0.9993,64.90,59.71,69.94
4,2018-08-01,AL,1,NaN,Robert Kennedy Jr.,D,False,classic,0.0007,35.10,30.06,40.29

In [24]:
final_deluxe_2018 = preds_2018_538[(preds_2018_538["model"] == "deluxe") & (preds_2018_538["forecastdate"] == "2018-11-06") & ((preds_2018_538["party"] == "R") | (preds_2018_538["party"] == "D"))]
final_deluxe_2018

,forecastdate,state,district,special,candidate,party,incumbent,model,win_probability,voteshare,p10_voteshare,p90_voteshare
200873,2018-11-06,AK,1,NaN,Don Young,R,True,deluxe,0.7447,52.28,47.73,56.84
200874,2018-11-06,AK,1,NaN,Alyse S. Galvin,D,False,deluxe,0.2553,47.72,43.16,52.27
200875,2018-11-06,AL,1,NaN,Bradley Byrne,R,True,deluxe,0.9998,65.80,61.38,70.27
200876,2018-11-06,AL,1,NaN,Robert Kennedy Jr.,D,False,deluxe,0.0002,34.20,29.73,38.62
200877,2018-11-06,AL,2,NaN,Martha Roby,R,True,deluxe,0.9877,58.93,54.17,63.76
...,...,...,...,...,...,...,...,...,...,...,...,...
201899,2018-11-06,WV,2,NaN,Talley Sergent,D,False,deluxe,0.0272,41.56,36.96,46.13
201901,2018-11-06,WV,3,NaN,Carol Miller,R,False,deluxe,0.9034,54.86,50.07,59.68
201902,2018-11-06,WV,3,NaN,Richard Ojeda,D,False,deluxe,0.0966,45.14,40.32,49.93
201903,2018-11-06,WY,1,NaN,Liz Cheney,R,True,deluxe,0.9998,63.11,58.14,68.00
201904,2018-11-06,WY,1,NaN,Greg Hunter,D,False,deluxe,0.0002,31.38,26.40,36.29

In [25]:
# Calculates Democratic and Republican vote shares for each district in 2018

final_deluxe_2018["RepVoteShare"] = (final_deluxe_2018["party"] == "R") * final_deluxe_2018["voteshare"]
final_deluxe_2018["DemVoteShare"] = (final_deluxe_2018["party"] == "D") * final_deluxe_2018["voteshare"]

del_grouped = final_deluxe_2018.groupby(["state", "district"])[["RepVoteShare", "DemVoteShare"]].sum().reset_index()

del_grouped["Rep2PVoteShare"] = del_grouped["RepVoteShare"] / (del_grouped["RepVoteShare"] + del_grouped["DemVoteShare"])

del_grouped["year"] = 2018

del_grouped.head()

<ipython-input-25-0d6c0704597d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_deluxe_2018["RepVoteShare"] = (final_deluxe_2018["party"] == "R") * final_deluxe_2018["voteshare"]
<ipython-input-25-0d6c0704597d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_deluxe_2018["DemVoteShare"] = (final_deluxe_2018["party"] == "D") * final_deluxe_2018["voteshare"]

  state  district  RepVoteShare  DemVoteShare  Rep2PVoteShare  year
0    AK         1         52.28         47.72          0.5228  2018
1    AL         1         65.80         34.20          0.6580  2018
2    AL         2         58.93         41.07          0.5893  2018
3    AL         3         62.13         37.87          0.6213  2018
4    AL         4         76.91         23.09          0.7691  2018

In [26]:
preds_2020_538 = pd.read_csv("delux_data/538_preds/house_district_toplines_2020.csv")
preds_2020_538.head()

,cycle,branch,district,forecastdate,expression,name_D1,name_D2,name_D3,name_D4,name_I1,...,wonrunoff_R2,lostrunoff_R2,wonrunoff_R3,lostrunoff_R3,wonrunoff_R4,lostrunoff_R4,wonrunoff_I1,lostrunoff_I1,simulations,timestamp
0,2020,House,WY-1,11/3/20,_lite,Lynnette Grey Bull,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
1,2020,House,WV-3,11/3/20,_lite,Hilary Turner,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
2,2020,House,WV-2,11/3/20,_lite,Cathy Kunkel,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
3,2020,House,WV-1,11/3/20,_lite,Natalie Cline,NaN,NaN,NaN,David Moran,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
4,2020,House,WI-8,11/3/20,_lite,Amanda Stuck,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020

In [27]:
final_deluxe_2020 = preds_2020_538[(preds_2020_538["expression"] == "_deluxe") & (preds_2020_538["forecastdate"] == "11/3/20")]
final_deluxe_2020

,cycle,branch,district,forecastdate,expression,name_D1,name_D2,name_D3,name_D4,name_I1,...,wonrunoff_R2,lostrunoff_R2,wonrunoff_R3,lostrunoff_R3,wonrunoff_R4,lostrunoff_R4,wonrunoff_I1,lostrunoff_I1,simulations,timestamp
41325,2020,House,WY-1,11/3/20,_deluxe,Lynnette Grey Bull,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41326,2020,House,WV-3,11/3/20,_deluxe,Hilary Turner,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41327,2020,House,WV-2,11/3/20,_deluxe,Cathy Kunkel,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41328,2020,House,WV-1,11/3/20,_deluxe,Natalie Cline,NaN,NaN,NaN,David Moran,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41329,2020,House,WI-8,11/3/20,_deluxe,Amanda Stuck,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41755,2020,House,AL-4,11/3/20,_deluxe,Rick Neighbors,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41756,2020,House,AL-3,11/3/20,_deluxe,Adia Winfrey,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41757,2020,House,AL-2,11/3/20,_deluxe,Phyllis Harvey-Hall,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41758,2020,House,AL-1,11/3/20,_deluxe,James Averhart,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020
41759,2020,House,AK-1,11/3/20,_deluxe,Alyse S. Galvin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,00:19:54 3 Nov 2020

In [28]:
del_grouped_2020 = final_deluxe_2020[["district", "voteshare_mean_D1", "voteshare_mean_R1"]]
grp_2020 = del_grouped_2020["district"].str.split("-", expand=True).rename(columns={0: "state", 1: "district"})
grp_2020["Rep2PVoteShare"] = del_grouped_2020["voteshare_mean_R1"] / (del_grouped_2020["voteshare_mean_R1"] + del_grouped_2020["voteshare_mean_D1"])
grp_2020["year"] = 2020
grp_2020.head()

      state district  Rep2PVoteShare  year
41325    WY        1        0.688128  2020
41326    WV        3        0.680359  2020
41327    WV        2        0.620419  2020
41328    WV        1        0.677026  2020
41329    WI        8        0.626242  2020

In [29]:
preds_538 = pd.concat([del_grouped[["state", "district", "Rep2PVoteShare", "year"]], grp_2020])

In [30]:
train_results = results_df.loc[(results_df["year"] == 2018) | (results_df["year"] == 2020),["year", "state", "district_num", "RepVotesMajorPercent"]]
train_results.head()

   year    state  district_num  RepVotesMajorPercent
0  2020  Alabama             1                 64.43
1  2020  Alabama             2                 65.28
2  2020  Alabama             3                 67.51
3  2020  Alabama             4                 82.30
4  2020  Alabama             5                100.00

In [31]:
train_results.loc[train_results["district_num"] == 0, "district_num"] = 1

train_results["district_num"] = train_results["district_num"].astype(int)

In [32]:
import us

preds_538["state_full_name"] = preds_538["state"].apply(lambda x: us.states.lookup(x).name)

preds_538.district = preds_538.district.astype(int) 

preds_538.head()

  state  district  Rep2PVoteShare  year state_full_name
0    AK         1          0.5228  2018          Alaska
1    AL         1          0.6580  2018         Alabama
2    AL         2          0.5893  2018         Alabama
3    AL         3          0.6213  2018         Alabama
4    AL         4          0.7691  2018         Alabama

In [33]:
train_results = pd.merge(train_results, preds_538, left_on=["year", "state", "district_num"], right_on=["year", "state_full_name", "district"], how="left")

train_results.head()

,year,state_x,district_num,RepVotesMajorPercent,state_y,district,Rep2PVoteShare,state_full_name
0,2020,Alabama,1,64.43,AL,1,0.640122,Alabama
1,2020,Alabama,2,65.28,AL,2,0.646901,Alabama
2,2020,Alabama,3,67.51,AL,3,0.677562,Alabama
3,2020,Alabama,4,82.30,AL,4,0.813763,Alabama
4,2020,Alabama,5,100.00,AL,5,1.000000,Alabama

In [34]:
train_results = train_results[["year", "state_x", "district", "RepVotesMajorPercent", "Rep2PVoteShare"]].rename(columns={"state_x": "state"})

train_results.head()

   year    state  district  RepVotesMajorPercent  Rep2PVoteShare
0  2020  Alabama         1                 64.43        0.640122
1  2020  Alabama         2                 65.28        0.646901
2  2020  Alabama         3                 67.51        0.677562
3  2020  Alabama         4                 82.30        0.813763
4  2020  Alabama         5                100.00        1.000000

In [35]:
train_conts["super_comp"] = 1

train_conts["RepTotalShare"] = train_conts["RepTotal"] / (train_conts["RepTotal"] + train_conts["DemTotal"])
train_conts["RepCountShare"] = train_conts["RepCount"] / (train_conts["RepCount"] + train_conts["DemCount"])

In [36]:
train_results = pd.merge(train_results, train_conts[["cycle", "state_full", "CAND_OFFICE_DISTRICT", "RepTotalShare", "RepCountShare"]], left_on=["year", "state", "district"], right_on=["cycle", "state_full", "CAND_OFFICE_DISTRICT"], how="left")

train_results.head()

,year,state,district,RepVotesMajorPercent,Rep2PVoteShare,cycle,state_full,CAND_OFFICE_DISTRICT,RepTotalShare,RepCountShare
0,2020,Alabama,1,64.43,0.640122,NaN,NaN,NaN,NaN,NaN
1,2020,Alabama,2,65.28,0.646901,NaN,NaN,NaN,NaN,NaN
2,2020,Alabama,3,67.51,0.677562,NaN,NaN,NaN,NaN,NaN
3,2020,Alabama,4,82.30,0.813763,NaN,NaN,NaN,NaN,NaN
4,2020,Alabama,5,100.00,1.000000,NaN,NaN,NaN,NaN,NaN

In [37]:
train_results["Rep2PVoteShare"] = train_results["Rep2PVoteShare"] * 100

train_results.head()

,year,state,district,RepVotesMajorPercent,Rep2PVoteShare,cycle,state_full,CAND_OFFICE_DISTRICT,RepTotalShare,RepCountShare
0,2020,Alabama,1,64.43,64.01218,NaN,NaN,NaN,NaN,NaN
1,2020,Alabama,2,65.28,64.69013,NaN,NaN,NaN,NaN,NaN
2,2020,Alabama,3,67.51,67.75618,NaN,NaN,NaN,NaN,NaN
3,2020,Alabama,4,82.30,81.37635,NaN,NaN,NaN,NaN,NaN
4,2020,Alabama,5,100.00,100.00000,NaN,NaN,NaN,NaN,NaN

In [38]:
from sklearn.metrics import mean_squared_error, r2_score

In [39]:
print(mean_squared_error(train_results["RepVotesMajorPercent"], train_results["Rep2PVoteShare"]))
print(r2_score(train_results["RepVotesMajorPercent"], train_results["Rep2PVoteShare"]))

11.180358888561537
0.9746291404893064

In [40]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [41]:
train_results["year"]

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
867    2018
868    2018
869    2018
870    2018
871    2018
Name: year, Length: 872, dtype: int64

In [42]:
train_comp = train_results[["year", "RepVotesMajorPercent", "Rep2PVoteShare", "RepTotalShare", "RepCountShare"]].dropna()

train_comp

     year  RepVotesMajorPercent  Rep2PVoteShare  RepTotalShare  RepCountShare
8    2020                 48.39       45.241430       0.458093       0.216149
13   2020                 52.17       50.608560       0.429982       0.110469
18   2020                 55.37       51.396400       0.497278       0.183444
30   2020                 44.84       43.701430       0.465869       0.195242
41   2020                 50.45       49.084290       0.942741       0.767554
..    ...                   ...             ...            ...            ...
857  2018                 47.58       48.260000       0.549348       0.429516
862  2018                 56.37       54.860000       0.000000       0.000000
863  2018                 56.35       52.701167       0.890421       0.409002
864  2018                  0.00        0.000000       1.000000       1.000000
869  2018                 63.71       61.130000       1.000000       1.000000

[167 rows x 5 columns]

In [43]:
train_comp_x = train_comp[["Rep2PVoteShare", "RepTotalShare", "RepCountShare"]]
train_comp_y = train_comp["RepVotesMajorPercent"]

In [44]:
lr = LinearRegression()

In [45]:
lr.fit(train_comp_x, train_comp_y)

LinearRegression()

In [46]:
lr.score(train_comp_x, train_comp_y)

0.9513799580154341

In [47]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [48]:
rfr = RandomForestRegressor(n_estimators=100, max_depth=10)

In [49]:
rfr.fit(train_comp_x, train_comp_y)

RandomForestRegressor(max_depth=10)

In [50]:
rfr.score(train_comp_x, train_comp_y)

0.9896997033988628

In [51]:
from sklearn.model_selection import cross_val_score

In [52]:
models = [
    ("Linear Regression", LinearRegression()),
    ("Lasso", Lasso()),
    ("Ridge", Ridge()),
    ("Random Forest", RandomForestRegressor(n_estimators=100, max_depth=10)),
    ("Gradient Boosting", GradientBoostingRegressor(n_estimators=100, max_depth=10))
]

In [53]:
model_infos = []

for model_stuff in models:

    model_info = {}

    model_info["name"] = model_stuff[0]

    model = model_stuff[1]

    model.fit(train_results[["Rep2PVoteShare"]], train_results["RepVotesMajorPercent"])
    model_info["model_base"] = model
    model_info["model_base_R2"] = model.score(train_results[["Rep2PVoteShare"]], train_results["RepVotesMajorPercent"])
    model_info["model_base_accuracy"] = ((model.predict(train_results[["Rep2PVoteShare"]]) > 50) == (train_results["RepVotesMajorPercent"] > 50)).mean()

    model_info["model_base_cv"] = cross_val_score(model, train_results[["Rep2PVoteShare"]], train_results["RepVotesMajorPercent"], cv=5)

    model.fit(train_results.loc[train_results["year"] == 2018,["Rep2PVoteShare"]], train_results.loc[train_results["year"] == 2018, "RepVotesMajorPercent"])
    model_info["model_base_2020_R2"] = model.score(train_results.loc[train_results["year"] == 2020,["Rep2PVoteShare"]], train_results.loc[train_results["year"] == 2020, "RepVotesMajorPercent"])
    model_info["model_base_2020_accuracy"] = ((model.predict(train_results.loc[train_results["year"] == 2020, ["Rep2PVoteShare"]]) > 50) == (train_results.loc[train_results["year"] == 2020, "RepVotesMajorPercent"] > 50)).mean()

    model.fit(train_comp_x, train_comp_y)
    model_info["model_full"] = model
    model_info["model_full_R2"] = model.score(train_comp_x, train_comp_y)
    model_info["model_full_accuracy"] = ((model.predict(train_comp_x) > 50) == (train_comp_y > 50)).mean()

    model_info["model_full_cv"] = cross_val_score(model, train_comp_x, train_comp_y, cv=5)

    model.fit(train_comp_x.loc[train_comp["year"] == 2018], train_comp_y.loc[train_comp["year"] == 2018])
    model_info["model_full_2020_R2"] = model.score(train_comp_x.loc[train_comp["year"] == 2020], train_comp_y.loc[train_comp["year"] == 2020])
    model_info["model_full_2020_accuracy"] = ((model.predict(train_comp_x.loc[train_comp["year"] == 2020]) > 50) == (train_comp_y.loc[train_comp["year"] == 2020] > 50)).mean()

    model_infos.append(model_info)

In [54]:
pd.DataFrame(model_infos)

,name,model_base,model_base_R2,model_base_accuracy,model_base_cv,model_base_2020_R2,model_base_2020_accuracy,model_full,model_full_R2,model_full_accuracy,model_full_cv,model_full_2020_R2,model_full_2020_accuracy
0,Linear Regression,LinearRegression(),0.978709,0.967890,"[0.9830039736798346, 0.9592360092888802, 0.981...",0.972012,0.970183,LinearRegression(),0.951380,0.856287,"[0.8294694063090493, 0.9558294285286051, 0.906...",0.866041,0.740260
1,Lasso,Lasso(),0.978704,0.966743,"[0.9831057639302614, 0.9591470641990647, 0.981...",0.972036,0.970183,Lasso(),0.951072,0.868263,"[0.8284491358359778, 0.9573737726434718, 0.905...",0.867320,0.740260
2,Ridge,Ridge(),0.978709,0.967890,"[0.9830041241499211, 0.9592358917071288, 0.981...",0.972012,0.970183,Ridge(),0.951350,0.862275,"[0.8287014034689303, 0.9558122371082849, 0.906...",0.866407,0.740260
3,Random Forest,"(DecisionTreeRegressor(max_depth=10, max_featu...",0.993697,0.979358,"[0.9815975307258673, 0.9571698517675049, 0.979...",0.968662,0.949541,"(DecisionTreeRegressor(max_depth=10, max_featu...",0.989603,0.940120,"[0.8649483999448445, 0.9456317546326861, 0.863...",0.873012,0.740260
4,Gradient Boosting,([DecisionTreeRegressor(criterion='friedman_ms...,0.998277,0.994266,"[0.9771720923023807, 0.9481754762935036, 0.975...",0.960044,0.947248,([DecisionTreeRegressor(criterion='friedman_ms...,1.000000,1.000000,"[0.8292116938317994, 0.9390357963937027, 0.797...",0.868799,0.753247